body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.ap-icon-pin {
  display: none;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-right {
  justify-content: flex-end;
  display: flex !important;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.navbar-search {
  margin-left: 20px;
  width: 400px;
}

.landing-background {
  height: 100vh;
  padding-bottom: 2rem;
  background-color: #343a40;
  background: url("../images/landing-bg.jpg") no-repeat top center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.landing-background .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.company-card {
  color: inherit !important;
  text-decoration: none !important;
}

.company-banner {
  width: 100%;
  max-height: 400px;
}

.vehicle-row {
  cursor: pointer;
  text-align: center;
  padding: 0.65rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.vehicle-text {
  display: inline-block;
  width: 60px;
  font-weight: 500;
}

.package-item {
  text-align: center;
  padding: 0.5rem;
}

.package-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 100px;
  font-size: 13px;
}

.package-item ul small {
  font-weight: 500;
}

.package-item .icon {
  margin-top: 2px;
  margin-right: 2px;
}

.addon-item {
  padding: 0.75rem !important;
}

.addon-item .duration {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 165px;
}

.addon-item .duration small {
  width: 50px;
}

.addon-item .price {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100px;
}

.addon-item .price small {
  width: 50px;
}

.addon-item .select {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  max-width: calc(100vw - 30px);
  margin: auto;
}

.login-header {
  padding-top: 80px;
  padding-bottom: 1rem;
}

.login-form {
  padding-top: 5px;
}

.dropdown-toggle {
  text-align: left;
}

.dropdown-toggle::after {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .login-header {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .login-form {
    padding-top: 15px;
  }
}
